{{!-- Weather dialog template --}}
<form class="dnd-weather-dialog">
  <div class="dialog-content">
    <div class="weather-controls">
        <div class="form-group">
            <label>Month:</label>
            <select name="month" {{#if loading}}disabled{{/if}}>
                {{#each months}}
                    <option value="{{this}}" {{#if (eq ../selectedMonth this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>Day:</label>
            <input type="number" name="day" value="{{selectedDay}}" min="1" max="28" {{#if loading}}disabled{{/if}}>
        </div>

        <div class="form-group">
            <label>Latitude:</label>
            <input type="number" name="latitude" value="{{latitude}}" min="0" max="90" {{#if loading}}disabled{{/if}}>
        </div>

        <div class="form-group">
            <label>Terrain:</label>
            <select name="terrain" {{#if loading}}disabled{{/if}}>
                {{#each terrainTypes}}
                    <option value="{{this}}" {{#if (eq this ../terrain)}}selected{{/if}}>{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>Elevation (ft):</label>
            <input type="number" name="elevation" value="{{elevation}}" min="0" step="100" {{#if loading}}disabled{{/if}}>
        </div>
    </div>

    {{!-- Weather Controls --}}
    <div class="dialog-buttons">
        <button type="button" class="generate-weather" {{#if loading}}disabled{{/if}}>
            Generate New Weather
        </button>
        
        {{#if isGM}}
        <button type="button" class="update-weather" {{#if loading}}disabled{{/if}}>
            Update Weather
        </button>
        <button type="button" class="settings" {{#if loading}}disabled{{/if}}>
            Settings
        </button>
        {{/if}}

        <button type="button" class="refresh-weather" {{#if loading}}disabled{{/if}}>
            Refresh
        </button>
    </div>

    {{!-- Debug info section --}}
    {{#if error}}
    <div class="error-message" style="color: red; margin-top: 10px;">
        Error: {{error}}
    </div>
    {{/if}}

    {{#if debugMode}}
    <div class="debug-info" style="margin-top: 10px; font-size: 0.8em; color: #666;">
        Available Months: {{#each months}}{{this}}, {{/each}}<br>
        Selected Month: {{selectedMonth}}<br>
        Latitude: {{latitude}}<br>
        Terrain: {{terrain}}<br>
        Elevation: {{elevation}}
    </div>
    {{/if}}
  </div>
</form>